/* ====================================
 *	CSS Reset
 * ==================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.shopmenu-item:hover {
  background-color: #e1f5fe !important;
  cursor: pointer;
}

/* ====================================
 *	Additional Reset
 * ==================================== */

a {
	text-decoration: none;
}

textarea {
    resize: none;
}

/* ====================================
 *	Material UI Default Styling
 * ==================================== */

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}

/* ====================================
 *	Admin Login
 * ==================================== */

.adminLoginPage{
	text-align: center;
	position: relative;
	height: 100vh;
}

.loginPaper {
	width: 100%;
	max-width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.loginPaper__titleWrapper {
    position: relative;
    height: 195px;
    text-align: center;
    color: #fff;
}

.loginPaper__titleWrapper__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginPaper__contentWrapper {
    position: relative;
    height: 102px;
}

.loginPaper__contentWrapper__content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
	.loginPaper {
		height: 100vh;
	}

	.loginPaper__titleWrapper {
		height: 50vh;
	}

	.loginPaper__titleWrapper__content {
	    position: static;
	    padding: 27vh 0 0 0;
	    transform: none;
	}

	.loginPaper__contentWrapper {
	    height: 50vh;
	}

	.loginPaper__contentWrapper__content {
		position: absolute;
		top: 0;
	}

	.packageClass {
		width: 100% !important;
	}
}

.loginPaper__appLogo {
	width: 192px;
	height: 192px;
	border-radius: 50%;
	background-color: #000;
	margin: 0 auto;
}

.packageClass:first-child {
	margin-left: 0;
}

/* ====================================
 *	PIC Main
 * ==================================== */

.tab {
	padding: 16px;
}

.table {
	width: 100%;
	border: solid 1px #E4E4E4;
}

.table__row {
	text-align: center;
	font-size: 16px;
	line-height: 1.5;
}

.table__head {
	color: #fff;
	font-weight: bold;
}

.table__row__head, .table__data {
	padding: 16px 8px;
	vertical-align: middle;
	box-sizing: border-box;
}

.table__data--checkbox {
	text-align: start;
}

.table__data--checkbox > div {
	display: block !important;
	width: 24px !important;
	margin: 0 auto;
}

/* Overwrite paper collapse styling */
.tab .collapse-card.active {
	margin: 0;
}
.tab .collapse-card.active .collapse-card__heading:hover::after{
	content:""
}
.tab .collapse-card .collapse-card__heading:hover::after{
	content:""
}
.tab .collapse-card {
	border: none;
}
.tab .collapse-card__heading, .tab .collapse-card__body {
	padding: 24px;
}
.tab .collapse-card__title {
	margin: 0;
	white-space: normal;
}

/* Paper collapse own styling */
.collapse-card, .tab .collapse-card.active {
	margin-bottom: 16px;
}

.collapse-card:last-child {
	margin: 0;
}

.collapse-card__title {
	color: #fff;
	margin: 0;
}

.collapse-card__title__name {
	font-size: 24px;
	font-weight: bold;
}

.collapse-card__title__addr {
	font-style: italic;
	font-weight: 100;
}

.collapse-card__body {
	text-align: center;
}

.order-list {
	font-size: 16px;
	line-height: 32px;
	color: #000;
	text-align: left;
	margin: 0 0 16px 0;
}

.order-list__item:nth-child(even) {
	background: #EAEAEA;
}

.order-list__item {
	display: flex;
	/*height: 32px;*/
	padding: 8px 32px;
	line-height: 1.5;
}

.order-list__item--last {
	font-weight: bold;
}

.list__item__name {
	flex-grow: 1;
}

/* ====================================
 *	Admin Setting
 * ==================================== */

.adminSetting {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 

  -webkit-flex-direction: column;
  flex-direction: column;

  height: 100vh;
}

.adminSetting__content {
  position: relative;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;  
}


@media print {
    .body{
      font-size: 10px !important;
    }
    .print-button-hidden{
      position: absolute;
      left: -999999px;
    }
    .paper-table{
      padding: 0px !important;
    }
    .div-paper{
      position: absolute !important;
      margin: 0px !important;
      width: 100% !important;
    }
    .div-navbar{
      margin: 0px !important;
      display: none;
    }
}

.slick-prev::before, .slick-next::before {
	color: #1565C0;
}